<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movies by Bruna</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Arimo:700" rel="stylesheet">
  </head>
<body>
  <div class='container-fluid'>
    <h2 class='heading'>SCI FI FLICKS</h2>

    <nav class="navbar navbar-expand-lg">
        <div aria-label="breadcrumb" >
          <ol class="breadcrumb text-left">

            <li class="breadcrumb-item text-left"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="movie.ejs"> Movie </li>
            
            <form class="form-inline text-right" action='/search' method='GET'>
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='searchTerm'>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

          </ol>
      </div>
    </nav>

