<% include partials/nav %>

    <div class="content">
      <div class="list-group list-group-flush"> 
        <h2>We could not found the page your are looking for...</h2>

        <img src="images/pac404.png" alt="404" width=400px>

      </div>
    </div>

  </body>
</html>