<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movies by Bruna</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    
  </head>
  <body>
  <div class='container'>
    <h2 class='heading'>Hello cine poeple!</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>

        <form class="form-inline" action='/search' method='GET'>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='searchTerm'>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </ol>
    </nav>
    
    <ul class="list-group list-group-flush">
    <% moviesArr.forEach((movie, index) => { %>
      <li class="list-group-item" > 
      <a href='http://localhost:8080/movie/<%=index%>'> <h3><%= movie.title %> </h3></a>   
      <p> <%= movie.plot %> </p>
      </li>
      <% }) %>
    </ul>
  </div>
  </body>
</html>