body {
  background-color: #fcfcfc; }

.heading {
  font-family: "Arimo", sans-serif;
  text-align: center;
  padding: 2%;
  font-size: 25px;
  color: #fcfcfc;
  background-image: url(../images/bgd.jpg); }

h2.heading {
  font-size: 70px; }

.title {
  color: #54a6e9; }

.breadcrumb-item {
  margin-top: 4px;
  margin-bottom: 0px; }

.card .colMargin {
  margin-right: 4%;
  margin-bottom: 2%; }

.content {
  margin: 2% 5%; }

.navbar {
  background-color: #fcfcfc;
  width: 100%; }

.breadcrumb {
  margin: 0;
  width: 100%; }
